<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") -%>
    <link rel="stylesheet" href="../../styles/home.css">
    <link rel="stylesheet" href="../../styles/responsive.css">

    <title>My List | NetFreez | The Best Platform To Watch Movies And Series</title>
</head>
<body>

    <%- include("partials/navigation") -%>
    <%- include("partials/searchMovie") -%>

    <section id="wanted_movie_container" class="other add align-center myList grid-column-width">

    </section>

    <%- include("partials/trailer") -%>
    <%- include("partials/script") -%>
    <script type="module" src="../js/my-list.js"></script>
</body>
</html>